@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

html{
    font-family: 'Fruktur', cursive;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
}

body{
    background-image: linear-gradient(0.05turn, #020811, #131519, #1e1e21, #282829, #323232);
    
    
    width: 100vw;
    height: 100vh;


    overflow: hidden; /* Hide scroll bars*/
}


h1{
    color: black;
    text-align: center;
}
span{
    color: whitesmoke;
   
}

#button{
 
    font-size: 30px;
}
.btn{
    text-align: center;
    padding-top: 400px;
}
.exit{
    
    position: fixed;
    bottom: 0;
    right: 0;
}
.ty{
    font-style: Brush Script MT;
}
#button:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}
